%h3 About This CRM Web App
%p This web app is a CRM (customer candidate relationship manager) exclusivily for indipendent recruiters and boutique recruitment firms. A way to save and find candidates with specific keywords/tags that are saved within your database. We charge a monthly membership fee per user that signs up for an account.

%ul
  %li Minimalistic
  %li Beautiful
  %li Useful

%h5 The biggest insperation to draw from are:
%ul
  %li LinkedIn.com > Network > Contacts
  %li HighRiseHQ.com and BaseCamp.com

%h3 Features
%h5 Import multiple candidates at once from the following options
%ul
  %li Excel
  %li LinkedIn
  %li Outlook
  %li vCard
  %li Resumes (zip folder for multiple resumes) - when you add a candidate by uploading a resume a profile will automatically be created. This will including the candidates full name, phone number, address email and resumes (all info from header).
Search for candidates by:
Keywords within their resumes
Keywords/ Tags in their profile/quick view
Pics
Pull pictures from candidates linkedin profile, fb, etc.
Browers
Web App must work on all browsers such as Chrome, Firefox, Safari, Internet Explorer, etc.
Devices
Must work on both PC and Mac.
%hr

E-mail to CRM as a note
Be able to forward an email to the CRM, and have the email stored as a note in the candidates profile.
%hr

E-mail resume attachment to create a profile.
Be able to forward an email with a attached resume to the CRM, and have the CRM automatically create a new profile for that candidate.
%hr

Attachments to candidate profile
Be able to attach word and pdf documents to candidates profile.
%hr

Select candidates from a seach result that you'd like to send one mass email to. When you send it will send all of the emails to the BCC field of a new Outlook email.
%hr
Resume to email attachment
click on "send resume to email" and a new outlook email will open up with the candidates resume attached.