%h2 Search User based on keywords and skills

%form.form-search
  .input-append
    %input.search-query{:type => "text" , :name => "q" , placeholder: 'rubyonrails, aws,..' , value: @skill}/
    %button.btn{:type => "submit"} Search

%hr
#result
  %h3= "#{pluralize(@users.count, 'result')} found"
  .content
    = render @users
  .pagination
    = will_paginate @users